---js
const eleventyNavigation = {
	key: "Links",
	order: 5
};
---
<h1>Social Links to Contact Me</h1>
<ul class="links">
  {%- for link in links -%}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
  {%- endfor -%}
</ul>
<h1>Certification Verification URLs </h1>
<ul class="links">
  {%- for link in certs -%}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
  {%- endfor -%}
  <li>California Responsible Beverage Server 313408027</li>
  <li>American Red Cross Adult First Aid/CPR/AED Certificate ID 01GU6VA, expiring 04/14/2026</li>
  <li>American Red Cross Bloodborne Pathogens Training Certificate ID 01GU6VB, expiring 04/14/2025</li>
</ul>